.navBar {
  background-color: lightgray;
  height: 80px;
}
.formControl {
  width: 50px;
}
.cardImgDiv {
  height: 200px;
}
.cardImg {
  max-height: 100%;
  max-width: 100%;
}
.myCard {
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.stuffContainer {
  margin-top: 50px;
}